@model ResiApp.ViewModels.Pages.BienvenidaViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="~/back/images/favicon.png">
    <!-- Page Title  -->
    <title>@("Bienvenid@") | ResiApp administrar condominios</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="~/back/assets/css/dashlite.css?ver=3.2.3">
    <link id="skin-default" rel="stylesheet" href="~/back/assets/css/theme.css?ver=3.2.3">
    <link id="skin-theme" href="~/back/assets/css/skins/theme-blue.css" rel="stylesheet" />
</head>

<body class="nk-body bg-white npc-default pg-survey">
    <div class="nk-app-root">
        <!-- main  -->
        <div class="nk-main ">
            <!-- wrap  -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content  -->
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-lg">
                        <div class="nk-split-content bg-dark is-dark p-5 d-flex justify-between flex-column text-center">
                            <a href="html/index.html" class="logo-link nk-sidebar-logo">
                                <img class="logo-light logo-img" src="~/back/images/logo.png" srcset="@Url.Content("~/back/images/logo2x.png") 2x" alt="logo">
                                <img class="logo-dark logo-img" src="~/back/images/logo-dark.png" srcset="@Url.Content("~/back/images/logo-dark2x.png") 2x" alt="logo-dark">
                            </a>
                            <div class="text-block wide-xs mx-auto">
                                @(Html.Raw(Model.Mensaje))
                                <img class="nk-survey-gfx mt-5" src="~/back/images/gfx/job-survey.svg" alt="">
                            </div>
                            <p>&copy; @DateTime.Now.Year ResiApp.</p>
                        </div><!-- .nk-split-content -->
                        <div class="nk-split-content nk-split-stretch bg-white p-5 d-flex justify-center align-center flex-column">
                            <div class="wide-xs-fix">
                                <form class="nk-stepper stepper-init is-alter" action="#" id="stepper-survey-v2">
                                    <div class="nk-stepper-content">
                                        <div class="nk-stepper-progress stepper-progress mb-4">
                                            <div class="stepper-progress-count mb-2"></div>
                                            <div class="progress progress-md">
                                                <div class="progress-bar stepper-progress-bar"></div>
                                            </div>
                                        </div>
                                        <div class="nk-stepper-steps stepper-steps">
                                            <div class="nk-stepper-step">
                                                <div class="nk-stepper-step-head mb-4">
                                                    <h5 class="title">Registrar condominio</h5>
                                                    <p>Tation argumentum et usu, dicit viderer evertitur te has</p>
                                                </div>
                                                <div class="row g-4">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="txtNombre">Nombre del condominio</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="Narvarte 17" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="txtDescripcion">Descripción del condominio</label>
                                                            <div class="form-control-wrap">
                                                                <textarea class="form-control" id="txtDescripcion" name="descripcion" style="height:80px; min-height:80px !important;"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="txtDireccion">Calle o avendia</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="txtDireccion" name="direccion" placeholder="Viaducto 150 Interior 13" required>
                                                            </div>
                                                        </div>
                                                    </div>                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label" for="txtColonia">Colonia</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="txtColonia" name="colonia" placeholder="Narvarte" required>
                                                            </div>
                                                        </div>
                                                    </div>      
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label" for="txtCP">CP</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="txtCP" name="cp" placeholder="08700" required maxlength="5">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group">
                                                            <label class="form-label" for="txtCiudad">Ciudad</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="txtCiudad" name="ciudad" placeholder="Ciudad de México" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="form-label" for="txtEstado">Estado</label>
                                                            <div class="form-control-wrap">
                                                                <input type="text" class="form-control" id="txtEstado" name="estado" placeholder="Ciudad de México" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nk-stepper-pagination pt-4 gx-4 gy-2 stepper-pagination">
                                            <li class="step-submit" style="display:block;"><button class="btn btn-primary">Guardar</button></li>
                                            <li style="display:block;"><a class="btn btn-success" href="~/Administrar">Omitir</a></li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div><!-- .nk-split-content -->
                    </div><!-- .nk-split -->
                </div>
                <!-- wrap  -->
            </div>
            <!-- content  -->
        </div>
        <!-- main  -->
    </div>
    <!-- app-root  -->
    <!-- JavaScript -->
    <script src="~/back/assets/js/bundle.js?ver=3.2.3"></script>
    <script src="~/back/assets/js/scripts.js?ver=3.2.3"></script>
    
    </body>
</html>